nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(28, 27, 27);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

nav a {
  margin: 0 15px;
  transition: all 0.5s linear;
}

nav a:hover {
  color: yellow;
}

/* NavLink active class */
.active {
  color: rgb(35, 218, 68);
}
