header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url("http://localhost:7777/images/blog2") no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 44px;
}

header h1 {
  text-transform: uppercase;
}
